.btnDelete {
    width: 30px;
    cursor: pointer;

} .btnDelete:hover {
    animation: vibrate 0.2s 3 linear;
}

.btnsFavorite {
    margin-top: 15px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ownBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ownBox2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}