.base-login {
    display: flex;
    width: 100%;
    justify-content: center;
    
    height: 90vh;
}

.login-card {
    background-color:  #97C257;

    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80%;
    border-radius: 10px;
    margin-top: 70px;
    box-shadow: 30px 20px #73726E;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-login {
    margin-top: 20px;
    width: 50%;
    
}
