.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%; /* Establece un ancho máximo del 100% para el contenido principal */
  overflow: hidden;
}

.baseUser {
    background-color: #7b7974fd;
    height: 100%;
    border-radius: 15px;
    margin-top: 10px;
    padding: 10px;
    color: aliceblue;
    margin-left: 15px;
    margin-right: 10%;
    width:auto;
    min-width: 100%;
    /* border: 2px solid #6ba95d; */
    
}

.btsUser {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 50%;
    
}

.jokesUser {
    background-color: #7b7974fd;
    width: 80%;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px rgb(47, 47, 47);
    margin-bottom: 10px;
}

.helloUser {

}



.totalScore {

}

.tusChistes {
    background-color: #80cb70;
    border: 3px solid #6ba95d;
    width: 60%;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    /* margin-bottom: 15px; */
    /* box-shadow: ; */
}.tusChistes:hover {
    border: 3px solid #8dde7b;
}

.h2TusChistes {
    /* background-color: aquamarine; */
}

.desplegar {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out; 
  }

.contentUser {
    display: flex;
}