.sidebarBox {
  background-color: #7b7974fd;
  border-radius: 10px;
  border: 3px solid #6ba95d;
  /* width: min-content; */
  margin-top: 2px;
  margin-right: 3px;
  /* max-width: 100%; */
  height:100%;
}

/*  */

.linkLi {
  color: aliceblue;
  text-decoration: none;
}

.flex {
  /* margin-left: -20%; */
}

/* --------------------- */
