/* .base {
    background-image: url(../../images/fondook.png);
    height: 100vh;
    font-weight: bold;
    /* background-size: 100%; */
  /* background-repeat: no-repeat; */
/* }  */

.indexBox {
    background-color: #7b7974fd;
    display:grid;
    gap: 1rem;
    grid-template-columns: 50% 50%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 15px;
    
    align-items: center;
    color: aliceblue;
}

.loginCard {
    background-color:#80cb70;
    height: 90%;
    border-radius: 10px;
    padding-left: 20%;
    box-shadow: -2px 2px 5px rgb(52, 54, 51);
    
}

.logoContainer {
    display: flex;
    justify-content: center;
    
}

.img {
    width: 100px;
}
