.jokesContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ul {
  /* background-color: darkmagenta; */
    color: aliceblue;
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
  
}

.author {
  width: 100%;
  display: flex;
  color: #7b7974fd;

  
  text-decoration: underline;
  text-decoration-color: #6ba95d; /* Cambiar el color del subrayado */
  text-decoration-thickness: 1px; /* Cambiar el grosor del subrayado */
  text-decoration-style:double; /* Cambiar el estilo del subrayado */
  
  
}

.filters {
  margin-left:  15px;
}
.textoBusqueda {
  margin: 15px;
}

.li {
  font-family: 'Comic Sans MS', cursive;
  background-color:  #80cb70;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-bottom: 35px;
  padding: 15px;
  border: 3px solid #6ba95d;
  box-shadow: 20px -15px #7b7974fd, 20px 15px  #7b7974fd;
  border-radius: 20px;
  font-size:larger;
  width: 60%;
  min-height: 200px;
}

.btAddJoke{
  width: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

.h3Joke {
  margin: 10px;
}

/* Estilos para el icono flotante */
.floatingIconBox {
  /* width: 5px; */
  height: 50px;
  position: fixed;
  bottom: 10%;
  right: 10%;
  z-index: 9999;
  cursor: pointer;
}

.floatingIcon {
  width: 50px;
  transition: width 0.3s ease-in-out;
}
@keyframes rotateAnimation {
  0%, 100% {
    transform: rotate(0deg); 
  }
  25% {
    transform: rotate(-10deg); 
  }
  50% {
    transform: rotate(20deg); 
  }
  75% {
    transform: rotate(-10deg); 
  }
}

.floatingIcon:hover {
  animation: rotateAnimation 1s infinite; 
}


.imgStar {
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.imgAudio {
    position: relative;
    height: 40px;
    cursor:pointer;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .imgAudio:hover {
    animation: vibrate 0.1s 1 linear;
  }
  
  @keyframes vibrate {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-4px);
    }
    50% {
      transform: translateX(0);
    }
    75% {
      transform: translateX(4px);
    }
    100% {
      transform: translateX(0);
    }
  }
  

.buttonBox {
    /* width: auto;uuuuuuuuu */
    display: flex;
    justify-content: space-between;
    margin: 15px;

}

/* .boxJokes {
    display: flex;
    width: 100%;
    justify-content: center;
} */

.bt {
    position: relative;
    padding: 10px 20px;
    background-color: rgb(103, 173, 46);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 3px 3px  #2e7930;;
}.bt:hover {
    box-shadow: 0px 0px;
    background-color: rgb(103, 173, 46); 
    left: 3px;
    top: 3px;
    
    
}

.score-start {
  display: flex;
  align-items: center;
}

/* ----------------------- */

.flex {
  display: flex;
}
