.jokeCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  grid-area: 10px;
  margin: 20px;
}

.h4Title {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.imgAudio {
  position: relative;
  height: 30px;
  cursor:pointer;
}

.imgAudio:hover {
  animation: vibrate 0.2s 3 linear;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.hr {
  width: 80%;
}

.chiste {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 250px;
  max-height: 400px;
  overflow: auto;
  border-radius: 10px;
  background-color: #97C257;
  box-shadow: -2px 2px 10px rgb(41, 84, 42);
}

.h4Title {
  font-family: 'Comic Sans MS', cursive;
  display: flex;
  margin-left: 10%;
  width: 100%;
}

.h4 {
  font-family: 'Comic Sans MS', cursive;
  font-size:larger;
  width: 90%;
  /* margin: 10px; */
}

@media screen and (max-width: 768px) {
.buttons {
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.audioButton {
  margin-top: 5px;
}

.audioIcon {
  height: 18px;
}

.imgAudio {
  height: 24px;
}
}
