.jokeCard {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.imgAudio {
    position: relative;
    height: 40px;
    cursor:pointer;
   
  }
  
  .imgAudio:hover {
    animation: vibrate 0.1s 1 linear;
  }
  
  @keyframes vibrate {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-4px);
    }
    50% {
      transform: translateX(0);
    }
    75% {
      transform: translateX(4px);
    }
    100% {
      transform: translateX(0);
    }
  }

.hr {
    width: 80%;
}


.chiste {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-radius: 10%;
    background-color: #80cb70;
    box-shadow: -2px 2px 10px rgb(41, 84, 42);
}

.h4Title {
    font-family: 'Comic Sans MS', cursive;
    display: flex;
    margin-left: 10%;
    width: 100%;
}

.h4 {
    font-family: 'Comic Sans MS', cursive;
    width: 90%;
    /* font-family: 'Indie Flower', cursive; */
    margin: 10px;
}