@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

Body {
    display: flex;
    flex-direction: column;
    background-image: url(./images/fondo.png);
    background-size: 20%;
    background-color: #B5B3A5;
    height: 100vh;
    font-weight: bold;
    max-width: 100vw;
    margin: 0;
}

.flex {
    max-width: 100%; 
    overflow: hidden;
}
  

.flexRow {
    display: flex;
}

/* Estilos para componentes */

.gap {
    gap: 10px;

}

.pading {
    padding: 10px;
}

.boxComponent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.boxArea {
    background-color: #97C257;
    border: 3px solid #7A925C;
    border-radius: 20px;
    display: flex;
    color: aliceblue;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 10px 10px #73726E, 10px 10px #73726E;
    margin: 12px;
    padding: 10px;
}

/* Boton  */

.myBtn {
    background-color: #97C257;
    border: 3px solid #7A925C;
    box-shadow: 2px 2px 2px rgb(93, 92, 92);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 3px;
} .myBtn:hover {
    background-color: #a9cf6e;
}

.bt {
    position: relative;
    padding: 10px 20px;
    background-color: rgb(103, 173, 46);
    color: white;
    border: none;
    margin: 3px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 3px 3px  #2e7930;;
  }.bt:hover {
      box-shadow: 0px 0px;
      background-color: rgb(103, 173, 46); 
      left: 3px;
      top: 3px;
  }

.myBtnGrey {
    color: aliceblue;
    background-color: #73726E;
    border: 3px solid #73726E;
    box-shadow: 2px 2px 2px rgb(93, 92, 92);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 3px;
} .myBtnGrey:hover {
    border: 3px solid #5b5a5afd
}

/* -------------------- */