Body {
    /* background-image: url(./images/fondo.png);
    background-size: 20%; */
    background-color: #0FD9B1;
    font-weight: bold;
    margin: 5px;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexRow {
    display: flex;
}

/* Estilos para componentes */

.pading {
    padding: 10px;
}

.boxComponent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}



/* Boton  */

.btnSmallSize {
    width: 0px;
}

.btnReload {
    position: relative;
    width: 30px;
    cursor:pointer;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
} .btnReload:hover {
    animation-name: reloadJoke;
    animation-duration: 0.8s; 
    animation-iteration-count: 1;
}


@keyframes reloadJoke {
    from {}
    to {
        rotate: 360deg;
    }
}

.myBtn {
    background-color: #80cb70;
    border: 3px solid #6ba95d;
    box-shadow: 2px 2px 2px rgb(93, 92, 92);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 3px;
    width: 100px;
} .myBtn:hover {
    border: 3px solid #7be962;
}

.bt {
    position: relative;
    padding: 10px 20px;
    background-color: rgb(103, 173, 46);
    color: white;
    border: none;
    margin: 3px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 3px 3px  #2e7930;;
  }.bt:hover {
      box-shadow: 0px 0px;
      background-color: rgb(103, 173, 46); 
      left: 3px;
      top: 3px;
  }

.myBtnGrey {
    color: aliceblue;
    background-color: #7b7974fd;
    border: 3px solid #7b7974fd;
    box-shadow: 2px 2px 2px rgb(93, 92, 92);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 3px;
} .myBtnGrey:hover {
    border: 3px solid #5b5a5afd
}

/* -------------------- */


.color1 {color: #3f7d20 };
.color2 {color: #72b01d };
.color3 {color: #f3eff5 };
.color4 {color: #454955 };
.color5 {color: #0d0a0b };


/* -------------------- */
.color1 { color: #4d433d };
.color2 { color: #525c5a };
.color3 { color: #56877d };
.color4 { color: #8ccc81 };
.color5 { color: #bade57 };
